* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, 'Avenir Next', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
}

.forNotes::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#515151;
  opacity: 1; /* Firefox */

}

.forNotes {
  height: 200;
}
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid pink;
  border-bottom: 5px solid pink;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.full-notey-note {
  transform: scale(2);
  transform: translateX(-1020px);
  cursor: not-allowed;
}

.stickyBox {
transform: translateX(20%);
overflow: hidden
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#tooltip {
    position : fixed;
    pointer-events: none;
    height: auto;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.80);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.14); */
    box-shadow: 0 0 10px white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /* border: 5px; */
    /* -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); */
    font-family: 'Avenir next';
    font-size: 16px;
    margin: 100;
    /* text-decoration: underline; */
  }

    #tooltip.hidden {
      display: none;
    }

    /* html, body {overflow: hidden} */

path.link {
  fill: none;
  stroke:#9FA7B8;
  stroke-dasharray: 0,0;
  /* stroke-width: 10; */
  cursor: default;
}


#red {
  stroke:#61776E;
  stroke-width: 5;
  stroke-dasharray: 0,0;
}

path.link.selected {
  stroke-dasharray: 0,0;
  stroke: wheat;
}

path.link.dragline {
  pointer-events: none;
  stroke: wheat;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  cursor: pointer;
}

circle.node.yellow {
  fill: pointer;
}

.node:hover circle {
  fill: #000;
}

.node:hover text {
  display: inline;
}

.noteSend {
  fill: blue
}

text {
  font: 12px 'avenir next';
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.Pane1{
  height: '200px';
  overflow-y: 'scroll'
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.rs-notes--text {
  color: #ffffff;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.rs-notes--text:focus {
  outline: none
}

.innerTextNote {
  width: 100%;
  height: 100%;
}

.innerEditNote {
  width: 100%;
  height: 100%;
}
.innerEditNote:focus {
outline: none;
}
.rs-notes--colors {
  flex-grow: 1;
}

.rs-notes--colors__color {
  text-indent: -99999px;
            cursor: pointer;
            margin: 1px;
            width: 3.6em;
            height: 3.6em;
            border-radius: 50%;
            border: none;
            outline: none;
            transition: all 0.4s linear;
            box-shadow: 0px 0px 0px 5px inset rgba(0,0,0,.15);


}
.rs-notes--colors__color:hover{
  box-shadow: 0px 0px 0px 10px inset rgba(0,0,0,.15);
}

.rs-notes--header {
position: relative;
display: flex;
transition: all .3s linear;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.rs-notes--header--button {
  cursor:pointer;
  line-height: 30px;
  background: none;
  border:none;
  transition: all .2s linear;
  padding: 5px;
  color: rgba(255,255,255,.75);
  width: 22px;
}

.rs-notes--header--button__title:focus {
  outline: none;
}

.rs-notes--header--button__title {
  flex-grow: 1;
  line-height: 30px;
  text-align: left;
  user-select: none;
  max-width: 80px;

}
::-webkit-scrollbar {
  width: 2px;
  overflow-y: hidden
}

.mapFull{
  height:570px;
  width:920px;
  /* float: right */
}

.forNotes::-webkit-scrollbar {
  width: 0px;
}

.innerEditNote::-webkit-scrollbar {
  width: 0px;
}

.rs-notes--note_body::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(227, 224, 216); 
  border-radius: 10px;
}

.mendler {
  height: 70px;
  weight: 70px
}

.rs-notes--note__bubble {
border: none;
outline: none;
position: relative;
}

Popup {
  width: 1000;
  padding: 100px 15px;
}

.popup-content {
  margin-top: 2.5%;
  margin-left: 4%
}


.ContainerTwoClosed {
  animation-name: fade-inFeedback;
  animation-duration: 300ms;
  width:50%;
  float: 'right';
  /* border-right: '1px pink';
  border-left: '1px pink'; */
}
.chatContainerTwo {
  animation-name: fade-outFeedback;
  animation-duration: 700ms;
  width: 77%;
  float: 'right';
  border-right: '1px solid pink';
  border-left: '1px solid pink';
}

@keyframes fade-inFeedback {
  from {
    width: 77%;
  }
  to {
    width: 50%;
  }
}


@keyframes fade-outFeedback {
  from {
    width: 50%;
  }
  to {
    width: 77%;
  }
}








.slideNone {
  width: 0%
}

.slideIn {
  animation-name: fade-in;
  animation-duration: 300ms;
  float: right;
  width: 27%
}
.slideOut {
  animation-name: fade-out;
  animation-duration: 700ms;
  float: right;
  width: 0%
}

@keyframes fade-in {
  from {
    width: 0%;
  }
  to {
    width: 27%;
  }
}


@keyframes fade-out {
  from {
    width: 27%;
  }
  to {
    width: 0px;
  }
}
/* .join {
  transform: translatey(500px);
  border: 50px
  /* overflow-y: 'scroll' */
  .panelHorizontal {
    /* transform: translateX(-520px); */
    /* transform: scale(2); */
    transition: transform 400ms ease-in;

  }

/* 
  .slideIn {
    transform: scale(2);
    transform: translateX(0px);
    transition: transform 400ms ease-in;
    float: right
  }
  .slideOut {
    transition: transform 400ms ease-in;
    transform: translateX(520);
    float: right
  } */


.right{
  float: right
}
  .panelHorizontalTwo {
    /* width: 1220px; */
    /* transform: translateX(-520px); */
    /* transform: scale(2); */
    transition: transform 400ms ease-in;

  }
  .panelHorizontalTwo.slideIn {
    transform: scale(1.2);
    /* transform: translateX(0); */
  }
  .panelHorizontalTwo.slideOut {
    transform: scale(2);
    transform: translateX(-520px);
  }
  
  .title {
    cursor: pointer;
    /* float: right */
  }
  .titleTwo {
    cursor: pointer;
  }

.rs-notes--navbar {
  margin-left: 5%;
  /* margin-top: 0%;  */
  /* height: '100px';
  width: '50px';
  margin-top: '50px';  */
  background-color: #FAE3B6;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  /* margin: 0 auto; */
  float: 'left';
  display:inline-block;
  transform: translateY(-3px);
  /* display: flex;
  flex-wrap: wrap; */
  /* display: flex;
  float: 'left' */
}

/* .rs-notes--navbar__nav {
  margin: '50px';
  background-color: #ECCC8E;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  /* margin: 100; */
  /* display: flex;
  flex-wrap: wrap; */
/* } */

.rs-notes--navbar__options{
  display: flex;
}

.rs-notes--navbar__item{
  /* margin-top: '20px'; */
  /* display: flex;
  flex-grow: 1;
  position: relative;
  vertical-align: middle;
  overflow: hidden; */
}

.rs-notes--navbar__item--button{
  cursor: pointer;
  opacity: .8;
  background: none;
  border: none;
  color:#fff;
  /* padding: 3px 5px; */
}

.rs-notes--navbar__item--button__title{
  text-align: left;
  flex-grow: 1;
  min-width: 80px;
  max-width: 81px;
}

.rs-notes--button__hideshow {
  opacity: .8;
  background: none;
  border: none;
  color:#fff;
  padding: 3px 5px;
}



.rs-notes--green {
  margin-left: 2%;
  /* margin-top: 0%;  */
  /* height: '100px';
  width: '50px';
  margin-top: '50px';  */
  background-color: #88A18A;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  /* margin: 0 auto; */
  float: 'left';
  display:inline-block;
  /* display: flex; 
  flex-wrap: wrap;
  display: flex;
  float: 'right' */
}

.rs-notes--blue {
  margin-left: 2%;
  /* margin-top: 0%;  */
  /* height: '100px';
  width: '50px';
  margin-top: '50px';  */
  background-color: #9FA7B8;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  /* margin: 0 auto; */
  float: 'left';
  display:inline-block;
  /* display: flex; 
  flex-wrap: wrap;
  display: flex;
  float: 'right' */
}


.rs-notes--green__options{
  display: flex;
}

.rs-notes--blue__options{
  display: flex;
}

.rs-notes--green__item{
  margin-top: '20px';
  /* display: flex;
  flex-grow: 1;
  position: relative;
  vertical-align: middle;
  overflow: hidden; */
}

.rs-notes--blue__item{
  margin-top: '20px';
  /* display: flex;
  flex-grow: 1;
  position: relative;
  vertical-align: middle;
  overflow: hidden; */
}

.rs-notes--green__item--buttonR{
  cursor: pointer;
  opacity: .8;
  background: none;
  border: none;
  color:#fff;
  padding: 3px 5px;
}

.rs-notes--blue__item--buttonB{
  cursor: pointer;
  opacity: .8;
  background: none;
  border: none;
  color:#fff;
  padding: 3px 5px;
}

.rs-notes--green__item--button__title{
  text-align: left;
  flex-grow: 1;
  min-width: 80px;
  max-width: 81px;
}

.rs-notes--blue__item--button__title{
  text-align: left;
  flex-grow: 1;
  min-width: 80px;
  max-width: 81px;
}



.rs-notes--red {
  margin-left: 2%;
  /* margin-left: 10%;
  margin-top: 0%; */
  /* height: '100px';
  width: '50px';
  margin-top: '50px';  */
  background-color: #BC8276;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  float: 'left';
  display:inline-block;
  /* margin: 0 auto; */
  /* display: flex;
  flex-wrap: wrap; */
  /* display: flex;

}


.rs-notes--red__options{
  display: flex;
}

.rs-notes--red__item{
  margin-top: '20px';
  /* display: flex;
  flex-grow: 1;
  position: relative;
  vertical-align: middle;
  overflow: hidden; */
}

.rs-notes--red__item--buttonG{
  cursor: pointer;
  opacity: .8;
  background: none;
  border: none;
  color:#fff;
  padding: 3px 5px;
}

.rs-notes--red__item--button__title{
  text-align: left;
  flex-grow: 1;
  min-width: 80px;
  max-width: 81px;
}

.listy {
  /* border: 1px solid grey; */
  padding: 10px;
  /* border-radius: 25px; */
  display:flex;
  font-family: 'avenir next';
  box-shadow: '4px 4px 10px rgba(0, 0, 0, 0.4)'
  /* float: right */
}

.listyNess {
  display:flex;
  justify-content: center;
  align-items: center;
}

.listyTwo {
  /* border: 1px solid grey; */
  padding-bottom: 620px;
  border-radius: 10px;
  text-align: center;
}

.listyText {
  font-family: 'avenir next';
  font-size: '136px';
  color: 'black';
}

.cats {
  font-family: 'avenir next';
  font-size: '136px';
  color: 'black';
}

.messages {
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid pink;
  /* padding: 10px; */
  float: left;
  /* transform: translate(0px, 90.5px) */
  /* text-align: right; */
}

.inputField {
  width: 50%;
  /* height: 1%; */
  padding: 5px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: grey;
}
.gifgif{
  height: 390px;
  width:750px
}

.gifgif2{
  height: 390px;
  width:690px
}
.__floater__arrow {
  background-color:'green'
}

input[type=submit] {
  width: 50%;
  background-color: #9FA7B8;
  color: white;
  padding: 12px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputLabel {
  margin: 14px;
  font-family: 'Avenir next';
  font-size: 12px;
  font-weight: bold;
  color: grey;
}
.inputLabel10 {
  margin-top: 34px;
  font-family: 'Avenir next';
  font-size: 16px;
  font-weight: normal;
  color: grey;
}

.inputLabel2 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Avenir next';
  font-size: 13px;
  color: grey
}
.inputLabel3 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Avenir next';
  font-size: 14px;
  color: grey
}

.welcome {
  font-family: 'Avenir next';
  font-size: 26px;
  color: grey
}

.welcome2 {
  font-family: 'Avenir next';
  font-size: 24px;
  float: left
  /* color: grey */
}

.welcome3 {
  font-family: 'Avenir next';
  font-size: 20px;
  /* color: grey */
}

.welcome4 {
  font-family: 'Avenir next';
  font-size: 18px;
  /* color: grey */
}

.frontpage2 {
  width: 650px;
	height: 94%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-family: 'Avenir next';
  /* color: 'red'; */
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
  right: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
  overflow-y: 'scroll';
  	
	margin: auto;
}

.frontpage {
  width: 100%;
	height: 2900;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
	text-align: center;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.picture {
  margin-top: 20px;
  width: 90%;
	height: 120px;
}
.pictureTwo {

  width: 35px;
  height: 35px;
  margin-top: 6.5px;
  float: 'left';
  display: inline-block
}

.pictureThree {
  margin-top: 6px;
  /* margin-left: 2%; */
  width: 35px;
  transform: translateX(-20px);
  height: 35px;
  /* align-items: center; */
  float: 'left';
  display:inline-block;
}
.pictureLine {
  margin-bottom: 23px;
  /* transform: translateY(-90px); */
  /* border-radius: 50px; */
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14); */
  /* margin-left: 210px;*/

  transform: translateY(18px);
  width: 45px;
  height: 12px;
  /* float: left; */
  align-items: center;
}

.title2 {
  /* transform: translateY(-10px); */
  cursor: pointer;
}


.myButton {
  width: 4px;
  height: 4px;
  border: none;
  outline: none;
  float: right;
  padding-left: 2.1%;
  cursor: pointer;
  /* padding-right: 950px; */
  /* padding-bottom: 50px */
}



.stickyButton {
/* float: left */
}

/* .onlineList {
  padding-left: 111;
  float: left
  } */